.dialog {
   --sheet-content-height: 70dvh;
   position: fixed;
   z-index: var(--z-index-bottom-sheet);
   top: 0;
   left: 0;
   display: grid;
   align-items: end;
   width: 100dvw;
   height: 100dvh;
   background-color: transparent;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr;

   &::before {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      width: 100dvw;
      height: 100dvh;
      background-color: #00000035;
      content: "";
      animation-name: fade-in;
      animation-duration: var(--speed-device);
      animation-timing-function: var(--timing);
      pointer-events: none;
      will-change: opacity;
   }

   &.snapped {
      overflow-y: auto;
      scroll-snap-type: y mandatory;

      &::after {
         display: block;
         height: 100dvh;
         content: "";
         grid-area: 1 / 1;
      }

      .sheetContentContainer {
         scroll-snap-align: end;
         grid-area: 2 / 1;
      }
   }

   &.closing {
      overflow-y: hidden;
      scroll-snap-type: unset;

      &::before {
         animation-name: fade-out;
         animation-fill-mode: forwards;
      }

      &::after {
         height: calc(100dvh + var(--sheet-content-height));
      }

      .sheetContentContainer {
         position: fixed;
         bottom: 0;
         width: 100dvw;
         animation-name: slide-down-under;
         animation-fill-mode: forwards;
         scroll-snap-align: unset;
      }
   }
}

.sheetContentContainer {
   position: relative;
   height: var(--sheet-content-height);
   border-radius: 3dvh 3dvh 0 0;
   box-shadow: 0 -2px 8px 0 #00000015;
   animation-name: slide-up-from-under;
   animation-duration: calc(var(--speed-device) * 1);
   animation-timing-function: var(--timing);
   pointer-events: auto;
   animation-fill-mode: backwards;

   &::before {
      --width: 45px;
      position: absolute;
      top: calc(var(--spacing) / 2.5);
      left: calc(50% - var(--width) / 2);
      display: block;
      width: var(--width);
      height: 7px;
      border-radius: 3dvh;
      background-color: #00000045;
      content: "";
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
}

@keyframes fade-out {
   to {
      opacity: 0;
   }
}

@keyframes slide-up-from-under {
   from {
      translate: 0 var(--sheet-content-height);
   }
}

@keyframes slide-down-under {
   to {
      translate: 0 var(--sheet-content-height);
   }
}
