.dialog {
   position: fixed;
   z-index: var(--z-index-bottom-sheet);
   bottom: 0;
   left: 0;
   display: grid;
   align-items: end;
   width: 100dvw;
   background-color: transparent;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr;

   &::before {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      width: 100dvw;
      height: 1dvh;
      scale: 1 100;
      transform-origin: top left;
      grid-area: 1 / 1;
      background-color: #00000080;
      content: '';
      z-index: -1;
      animation: fade-in var(--speed-device) var(--timing) backwards;
      transition: opacity var(--speed-device) var(--timing);
   }

   &.closing {
      pointer-events: none;

      &::before {
         opacity: 0;
      }
   }
}

.sheetContentContainer {
   .dialog:not([data-dynamic-sizing]) > & {
      height: var(--sheet-content-height);
      box-shadow: 0 -2px 8px 0 #00000015;
      border-radius: 3dvh 3dvh 0 0;

      &::before {
         --width: 45px;
         position: absolute;
         top: calc(var(--spacing) / 2.5);
         left: calc(50% - var(--width) / 2);
         display: block;
         width: var(--width);
         height: 7px;
         border-radius: 3dvh;
         background-color: #00000045;
         content: '';
      }
   }

   .dialog.closing & {
      translate: 0 100%;
   }

   position: relative;
   pointer-events: auto;
   grid-area: 1 / 1;
   animation: slide-up-from-under var(--speed-device) var(--timing) backwards;
   transition:
      translate var(--speed-device) var(--timing),
      opacity var(--speed-device) var(--timing);

   --sheet-sizing-speed: 300ms;
}

.sheetContentContainerBackground {
   position: absolute;
   z-index: -1;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   --nextHeight: var(--initialHeight);

   &::before {
      display: block;
      content: '';
      height: 3dvh;
      border-radius: 3dvh 3dvh 0 0;
      background-color: var(--color-canvas-background);
      translate: 0 1px;
   }

   &::after {
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      background-color: var(--color-canvas-background);
      transform-origin: bottom;
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
}

@keyframes fade-out {
   to {
      opacity: 0;
   }
}

@keyframes slide-up-from-under {
   from {
      translate: 0 70%;
      opacity: 0;
   }
}

@keyframes slide-down-under {
   to {
      translate: 0 var(--sheet-content-height);
   }
}
