.container {
   --expand-color: var(--color-canvas-text);
   --expand-size: var(--fab-size);
   position: fixed;
   z-index: var(--epxanding-view-layer);
   display: none;
   grid: 1fr / 1fr;
   isolation: isolate;
   overflow: hidden;
   height: 100dvh;
   width: 100dvw;
   max-height: 100dvh;
   max-width: 100dvw;
   contain: strict;

   &[data-open],
   &[data-content-loaded] {
      display: grid;
   }
}

.content {
   top: 0;
   width: 100dvw;
   height: 100dvh;
   grid-area: 1 / 1;

   &:empty,
   .container:not([data-open]) > & {
      display: none;
   }
}

/*
   We couldn't use the clip-path property, because it isn't hardware accelerated
   (yet?) and animations with it are buggy in Firefox.

   This element instead uses a scale transform to create the clipping effect, where
   it covers the entire viewport and then disappears, allowing the content to be
   visible.
*/
.clipPath {
   width: var(--expand-size);
   height: var(--expand-size);
   border-radius: 30%;
   background-color: var(--expand-color);
   pointer-events: none;
   animation-duration: calc(var(--speed-default) * 1.75);
   animation-fill-mode: backwards;
   animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
   grid-area: 1 / 1;
   align-self: end;
   justify-self: end;
   isolation: isolate;
   margin-right: var(--spacing);
   margin-bottom: calc(var(--spacing) * 3);

   .container[data-open] > & {
      animation-name: expanding;
   }

   .container:not([data-open]) > & {
      animation-name: collapsing;
   }
}

@keyframes expanding {
   to {
      scale: 19;
   }
}

@keyframes collapsing {
   from {
      scale: 19;
   }
   to {
      scale: 1;
   }
}
