.fullScreenTransition {
   position: fixed;
   top: 0;
   display: grid;
   height: 100dvh;
   width: 100dvw;
   grid-template-columns: 100% 100%;

   &[data-changed] {
      & > .nextView {
         transition-delay: var(--speed-default);
      }

      & > .previousView {
         pointer-events: none;
      }
   }

   &:not([data-changed]) {
      & > .previousView {
         transition-delay: var(--speed-default);
      }
   }

   &[data-transition="slide-up"] {
      &:not([data-changed]) {
         & > .nextView {
            translate: 0 100dvh;
            opacity: 30%;
         }
      }

      &[data-changed] {
         & > .previousView {
            opacity: 30%;
            scale: 0.4;
         }
      }
   }

   &[data-transition="slide-down"] {
      &:not([data-changed]) {
         & > .nextView {
            translate: 0 -100dvh;
            opacity: 30%;
         }
      }

      &[data-changed] {
         & > .previousView {
            opacity: 30%;
            scale: 0.4;
         }
      }
   }

   &[data-transition="fade-in"] {
      &:not([data-changed]) {
         & > .nextView {
            pointer-events: none;
            opacity: 0%;
            scale: 1.05;
         }
      }

      &[data-changed] {
         & > .previousView {
            opacity: 0%;
            scale: 0.75;
         }
      }
   }

   &[data-transition="fade-out"] {
      &:not([data-changed]) {
         & > .nextView {
            pointer-events: none;
            opacity: 0%;
            scale: 0.75;
         }
      }

      &[data-changed] {
         & > .previousView {
            opacity: 30%;
            scale: 1.75;
         }
      }
   }

   &[data-transition="blink"] {
      &:not([data-changed]) {
         & > .nextView {
            pointer-events: none;
            opacity: 0%;
            scale: 0.97;
         }
      }

      &[data-changed] {
         & > .previousView {
            opacity: 0%;
            scale: 0.97;
         }
      }
   }
}

.previousView,
.nextView {
   display: grid;
   grid-template-columns: 1fr;
   grid-area: 1 / 1;

   transition-duration: var(--full-screen-transition-speed);
   transition-property: opacity, translate, scale;
   transition-timing-function: var(--timing);
}
