.topSentinel,
.bottomSentinel {
   pointer-events: none;
}

.container {
   position: relative;
   width: 100%;
   height: 100%;
   overscroll-behavior: auto;
   scroll-behavior: smooth;

   &[data-scroll-axis='inline'] {
      overflow-x: auto;
      overflow-y: hidden;
      overflow-inline: auto;

      @media (pointer: coarse) {
         &[data-android] {
            overflow-inline: none;
         }
      }

      .topSentinel {
         height: 100%;
         width: 2px;
      }

      .bottomSentinel {
         height: 100%;
         width: 2px;
      }
   }

   &[data-scroll-axis='block'] {
      overflow-y: auto;
      overflow-x: hidden;
      overflow-block: auto;
      transform-origin: top center;

      @media (pointer: coarse) {
         &[data-android] {
            overflow-block: none;
         }
      }

      .topSentinel {
         height: 2px;
         width: 100%;
      }

      .bottomSentinel {
         height: 2px;
         width: 100%;
      }
   }
}
