/* biome-ignore-all lint/suspicious/noEmptyBlock: This file includes animation hacks to track scroll state. */

.topSentinel,
.bottomSentinel {
   pointer-events: none;
}

.container {
   position: relative;
   width: 100%;
   height: 100%;
   overscroll-behavior: auto;
   scroll-behavior: smooth;
   animation-name:
      scrolled-to-top-detector, scrolled-to-bottom-detector, scrolled-to-left-detector,
      scrolled-to-right-detector;
   animation-timing-function: linear;
   animation-timeline:
      scroll(self block), scroll(self block), scroll(self inline), scroll(self inline);
   animation-range:
      0px 1px,
      calc(100% - 1px) 100%,
      0px 1px,
      calc(100% - 1px) 100%;
   transition-property: scale;
   transition-duration: 0.3s;

   &[data-scroll-axis='inline'] {
      overflow-x: auto;
      overflow-y: hidden;
      overflow-inline: auto;

      @media (pointer: coarse) {
         body[data-android] & {
            overscroll-behavior-inline: none;
         }
      }

      .topSentinel {
         height: 100%;
         width: 2px;
      }

      .bottomSentinel {
         height: 100%;
         width: 2px;
      }
   }

   &[data-scroll-axis='block'] {
      overflow-y: auto;
      overflow-x: hidden;
      overflow-block: auto;
      transform-origin: top center;

      @media (pointer: coarse) {
         body[data-android] & {
            overscroll-behavior-block: none;
         }
      }

      .topSentinel {
         height: 2px;
         width: 100%;
      }

      .bottomSentinel {
         height: 2px;
         width: 100%;
      }
   }
}

@keyframes scrolled-to-top-detector {
}
@keyframes scrolled-to-bottom-detector {
}
@keyframes scrolled-to-left-detector {
}
@keyframes scrolled-to-right-detector {
}
