.provider {
   display: grid;
   overflow-x: scroll;
   width: 100%;
   height: 100%;
   /* This is so that the main theme color is consistent on overscroll:
   * You should see black if you drag the sidebar, and white if you
   drag the content.
   */
   background: linear-gradient(
      to right,
      var(--color-base) 0%,
      var(--color-base) 50%,
      white 50%,
      white 100%
   );

   grid-template-columns: auto auto 100% auto;
   grid-template-rows: 1fr;
   scroll-snap-type: x mandatory;

   scrollbar-width: none;

   &::-webkit-scrollbar {
      display: none;
   }

   &[data-not-revealable] {
      overflow: hidden;
      animation-duration: 0ms;
   }
}

.sidebar {
   scroll-snap-align: start;

   body[data-has-expanded-content] & {
      visibility: hidden;
   }
}

.content {
   position: relative;
   scroll-snap-align: start;

   &[data-opened] {
      pointer-events: none;
   }
}

.contentEdge {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   width: 2px;
}
