:is(body, html):has(.keyboardAwareView) {
   position: fixed;
   top: 0;
   left: 0;
   overflow: hidden;
   scroll-behavior: instant;
   height: 100vh;
}

.outOfViewport {
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0;
}
