/* Text Styles */
@mixin LogoText {
  letter-spacing: -0.03em;
  font-size: 4.0625rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin ButtonText {
  font-size: 0.9375rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin HeaderText {
  letter-spacing: -0.03em;
  font-size: 1.354166rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin SmallText {
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin TitleText {
  letter-spacing: -0.03em;
  font-size: 1.875rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin SmallerText {
  font-size: 0.625rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin BoldNumberText {
  letter-spacing: -0.03em;
  font-size: 3.125rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin EvenSmallerText {
  font-size: 0.5rem;
  font-weight: 500;
  text-decoration: none;
}

@mixin BiggerText {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}
