.Toast {
  --ToastInFromTopOffset: 50%;
  --ToastPositionY: calc(
    (100% + var(--ToastGap)) * (var(--TotalToasts) - var(--ToastIndex) - 1)
  );
  z-index: 99;
  display: grid;
  padding: var(--SpacingHalf) var(--Spacing);
  margin: 0;
  margin-block-start: var(--Spacing);
  border-radius: var(--Rounded);
  color: var(--TextColor);
  background-color: var(--BackgroundColor);

  transition: translate var(--AnimationDuration) var(--AnimationEase);

  animation-name: ToastInFromTop;
  animation-duration: var(--AnimationDuration);
  isolation: isolate;
  translate: 0 var(--ToastPositionY);
  margin-inline: auto;
  grid-auto-flow: column;
  column-gap: var(--SpacingHalf);

  &.ToastLeaving {
    animation-name: ToastOutToTop;
  }

  @media (prefers-color-scheme: dark) {
    border-width: calc(var(--Stroke) * 0.75);
    border-color: var(--TextColor);
  }

  @media (orientation: landscape) {
    --ToastInFromSideOffset: 25%;
    --ToastPositionY: calc(
      (-100% - var(--ToastGap)) * (var(--TotalToasts) - var(--ToastIndex) - 1)
    );
    margin-block-start: auto;
    margin-block-end: var(--Spacing);
    margin-inline-start: auto;
    margin-inline-end: var(--SpacingDouble);
    animation-name: ToastInFromSide;

    &.ToastLeaving {
      animation-name: ToastOutToSide var(--AnimationDuration)
        var(--AnimationEase) forwards;
    }
  }

  .ToastClose {
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background: transparent;
    transition: scale var(--AnimationDuration) ease-out;

    &:hover {
      scale: 1.2;
    }

    svg {
      width: var(--SpacingHalf);
    }
  }
}

@keyframes ToastInFromSide {
  from {
    opacity: 0;
    translate: var(--ToastInFromSideOffset) var(--ToastPositionY);
  }
  to {
    opacity: 1;
    translate: 0 var(--ToastPositionY);
  }
}

@keyframes ToastOutToSide {
  from {
    opacity: 1;
    translate: 0 var(--ToastPositionY);
  }
  to {
    opacity: 0;
    translate: var(--ToastInFromSideOffset) var(--ToastPositionY);
  }
}

@keyframes ToastInFromTop {
  from {
    opacity: 0;
    translate: 0 calc(var(--ToastPositionY) - var(--ToastInFromTopOffset));
  }
  to {
    opacity: 1;
    translate: 0 var(--ToastPositionY);
  }
}

@keyframes ToastOutToTop {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
