.teleport {
   display: block;
   position: fixed;
   inset: 0;
   background-color: transparent;
   pointer-events: none;
   contain: strict;

   & > *:not(.overlay) {
      pointer-events: auto;
   }
}

.popover {
   margin-bottom: var(--half-spacing);
   z-index: var(--floating-button-layer);
}

.button {
   pointer-events: auto;
}

.menu {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   row-gap: calc(var(--half-spacing) * 0.5);
   pointer-events: auto;
}

.floatingListItem {
   --fa-rev-index: calc(var(--fa-item-count) - var(--fa-index) - 1);
   display: grid;
   grid-template-columns: 1rem 1fr;
   gap: calc(var(--half-spacing) * 0.5);
   align-items: center;
   border-radius: 35px;
   border: none;
   min-width: unset;
   animation: show-item var(--speed-default) backwards;
   animation-delay: calc(30ms * var(--fa-rev-index));
   transition-delay: calc(30ms * var(--fa-index));
   transition-property: opacity, transform;
   transform-origin: right;

   .popover:not(.open) & {
      opacity: 0;
      transform: translateY(10px) scale(0.5);
   }
}

.itemIcon {
   width: 1rem;
   height: 1rem;
}

.icon {
   width: 50%;
   height: 50%;
   transition: transform var(--speed-slow) var(--timing-bounce);

   .teleport.open:not(.closing) & {
      transform: rotate(45deg);
   }
}

body[data-ios] {
   .menu {
      gap: 0;
      padding: 10px;
   }

   .button,
   .popover {
      will-change: scale, translate, opacity;
      transform-origin: bottom right;
      transition-property: transform, scale, opacity;
      transition-timing-function: var(--timing-bounce-slower);
      transition-duration: var(--speed-bit-slower);
      animation-fill-mode: backwards;
      animation-timing-function: var(--timing-bounce-slower);
      animation-duration: var(--speed-bit-slower);
   }

   .popover {
      border-radius: 20px;
      translate: 0 var(--fab-size);

      &.open {
         animation-name: liquid-glass-menu-open;
      }

      &:not(.open) {
         /*
         This should be a transition, but for reasons that are beyond me
         the transitions fail and glitch on safari 26. Rubbish browser.
         */
         animation-name: liquid-glass-menu-close;
         animation-fill-mode: forwards;
      }
   }

   .button {
      transition-duration: var(--speed-slower);

      &:has(+ .popover.open) {
         transform: scale(1.5) translateX(-20%) translateY(-40%);
         opacity: 0;

         & > * {
            visibility: hidden;
         }
      }
   }

   .floatingListItem {
      background-color: transparent;
      color: inherit;
      min-width: 150px;
      grid-template-columns: auto 1fr;
      justify-items: start;
      animation: none;
      transition-duration: 0ms;

      &:active {
         scale: 1;
      }
   }

   .overlay {
      opacity: 0;
   }
}

@keyframes show-item {
   from {
      opacity: 0;
      transform: translateY(10px) scale(0.5);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes liquid-glass-menu-open {
   from {
      scale: 0.25;
      opacity: 0;
   }
}

@keyframes liquid-glass-menu-close {
   to {
      scale: 0.25;
      opacity: 0;
   }
}
