.floatingActionButton {
   position: absolute;
   z-index: var(--floating-button-layer);
   display: grid;
   width: var(--fab-size);
   min-width: unset;
   height: var(--fab-size);
   padding: 0;
   border: 0;

   @layer utilities {
      :where(&) {
         color: var(--color-canvas-background);
         background-color: var(--color-canvas-text);
      }

      body[data-android] & {
         border-radius: 30%;
      }

      body[data-ios] & {
         border-radius: 50%;
      }
   }

   transition:
      translate var(--speed-default),
      scale var(--speed-slow),
      opacity var(--speed-slow),
      rotate var(--speed-much-slower) var(--timing-bounce-slower);
   place-items: center;

   & > * {
      pointer-events: none;
   }

   &:active {
      scale: 1;
   }

   &:disabled {
      /* Overrides the default disabled state of buttons. */
      visibility: unset;
   }

   &[data-fixed] {
      position: fixed;
   }

   &.block.top {
      top: calc(var(--spacing) * 2);
   }

   &.block.bottom {
      top: calc(
         100dvh -
         var(--fab-size) -
         calc(var(--spacing) * 2) -
         env(safe-area-inset-bottom, 0px)
      );
   }

   &.block.center:not(.top, .bottom) {
      top: calc(50% - calc(var(--fab-size) / 2));
      bottom: unset;
   }

   &.inline.right {
      right: var(--spacing);
      left: unset;
   }

   &.inline.left {
      right: unset;
      left: var(--spacing);
   }

   &.inline.center:not(.left, .right) {
      right: calc(50% - calc(var(--fab-size) / 2));
      left: unset;
   }

   & svg {
      width: calc(min(var(--spacing) * 1.25), 90%);
      height: calc(min(var(--spacing) * 1.25), 90%);
   }

   &[data-outlined] {
      border: 3px solid var(--canvas-text);
      background-color: transparent;
   }
}
