.popover {
   margin-bottom: var(--half-spacing);
   z-index: var(--floating-button-layer);
}

.button {
   pointer-events: auto;
}

.menu {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   row-gap: calc(var(--half-spacing) * 0.5);
   pointer-events: auto;
}

.floatingListItem {
   --fa-rev-index: calc(var(--fa-item-count) - var(--fa-index) - 1);
   display: grid;
   grid-template-columns: 1rem 1fr;
   gap: calc(var(--half-spacing) * 0.5);
   align-items: center;
   border-radius: 35px;
   border: none;
   min-width: unset;
   animation: show-item var(--speed-default) backwards;
   animation-delay: calc(30ms * var(--fa-rev-index));
   transition-delay: calc(30ms * var(--fa-index));
   transition-property: opacity, transform;
   transform-origin: right;

   .teleport.closing & {
      opacity: 0;
      transform: translateY(10px) scale(0.5);
   }

   & svg {
      width: 1rem;
      height: 1rem;
   }
}

.icon {
   width: 50%;
   height: 50%;
   transition: transform var(--speed-slow) var(--timing-bounce);

   .teleport.open:not(.closing) & {
      transform: rotate(45deg);
   }
}

@keyframes show-item {
   from {
      opacity: 0;
      transform: translateY(10px) scale(0.5);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
