.previousView,
.nextView {
   display: grid;
   grid-template-columns: 1fr;
   grid-area: 1 / 1;

   animation-duration: var(--full-screen-transition-speed);
   animation-timing-function: var(--timing);

   &:empty {
      display: none;
   }
}

.previousView {
   animation-fill-mode: both;
}

.nextView {
   animation-fill-mode: backwards;
}

.fullScreenTransition {
   top: 0;
   display: grid;
   height: 100dvh;
   width: 100dvw;
   grid-template-columns: 100% 100%;

   &[data-modified] {
      &[data-changed] > .nextView,
      &:not([data-changed]) > .previousView {
         animation-delay: var(--speed-default);
      }

      &[data-changed] > .previousView,
      &:not([data-changed]) > .nextView {
         pointer-events: none;
      }

      &[data-transition='slide-up'] {
         &[data-changed] > .nextView,
         &:not([data-changed]) > .previousView {
            animation-delay: var(--speed-slow);
         }

         &[data-changed] > .nextView {
            animation-name: slide-up-entering;
         }

         &[data-changed] > .previousView {
            animation-name: slide-up-exiting;
         }
      }

      &[data-transition='fade-in'] {
         &[data-changed] > .nextView {
            animation-name: fade-in-entering;
         }

         &[data-changed] > .previousView {
            animation-name: fade-in-leaving;
         }
      }

      &[data-transition='fade-out'] {
         &[data-changed] > .nextView {
            animation-name: fade-in-leaving;
            animation-direction: reverse;
         }

         &[data-changed] > .previousView {
            animation-name: fade-out-entering;
            animation-direction: reverse;
         }
      }

      &[data-transition='blink'] {
         &[data-changed] > .previousView,
         &:not([data-changed]) > .nextView {
            animation-name: blink-leaving;
         }

         & > .nextView,
         &:not([data-changed]) > .previousView {
            animation-name: blink-entering;
         }
      }
   }
}

@keyframes slide-up-entering {
   from {
      translate: 0 100dvh;
      opacity: 30%;
   }
}

@keyframes slide-up-exiting {
   to {
      opacity: 30%;
      scale: 0.4;
   }
}

@keyframes blink-entering {
   from {
      opacity: 0;
      scale: 0.97;
   }
}

@keyframes blink-leaving {
   to {
      opacity: 0;
      scale: 0.97;
   }
}

@keyframes fade-in-leaving {
   to {
      opacity: 0;
      scale: 0.75;
   }
}

@keyframes fade-in-entering {
   from {
      opacity: 0;
      scale: 1.05;
   }
}
