.overlay {
   position: fixed;
   inset: 0;
   background-color: #00000050;
   pointer-events: none;
   opacity: 0;
   will-change: opacity;
   transition: opacity var(--speed-slow);

   &.dimmed {
      opacity: 1;
      pointer-events: auto;
      overscroll-behavior: none;
      touch-action: none;
   }
}
