@property --pull-zone-scroll-top {
   syntax: "<number>";
   initial-value: 0;
   inherits: true;
}

@utility pull-zone {
   --pull-progress: calc(var(--pull-zone-scroll-top) * (13 / 2));
   &.pull-zone-can-pull,
   &.pull-zone-can-pull * {
      @apply touch-pan-x;
   }

   @apply overflow-hidden pointer-coarse:no-scrollbar;
}

/* 
   The threshold marker is 15% of the pull-zone, 
   the feedback layer is 20%, and the content
   is 100%, making 135%.
*/
@utility pull-zone-scroll-container {
   grid-template-rows:
      calc(1500% / 135) /* 15*% of 135% */
      calc(2000% / 135) /* 20*% of 135% */
      calc(10000% / 135); /* 100*% of 135% */
   @apply grid w-full h-[135%] duration-(--slow) ease-in-out transition-[translate];

   .pull-zone-dragging > & {
      --translate-y: calc(min(var(--pull-zone-scroll-top) * 1%, 3500% / 135));
      @apply translate-y-(--translate-y) duration-0;
   }

   .pull-zone-action-triggered > & {
      /* Translate to 20% down, which shows the feedback layer, but hides the threshold marker. */
      --translate-y: calc(2000% / 135);
      @apply translate-y-(--translate-y);
   }
}

@utility pull-zone-triggered {
   @apply overflow-hidden pointer-events-none overscroll-none;
}

@utility pull-zone-content {
   @apply h-full w-full min-h-full overflow-y-scroll overscroll-none no-scrollbar;
   @apply bg-(--canvas-background);

   .pull-zone-action-triggered > .pull-zone-scroll-container > & {
      @apply overflow-hidden pointer-events-none;
   }
}

@utility pull-zone-content-top-marker {
   @apply w-full h-0.25 pointer-events-none;
}
