/* ---NAVIGATION STACK--- */
@utility stack-view-group {
   @apply grid overflow-hidden;
}

@utility stack-view-group-view {
   &:not(:first-child) {
      @apply translate-x-[100%];
   }

   &:not([data-open]) {
      @apply duration-(--slow);
   }

   &:nth-last-child(1 of [data-open]) {
      @apply translate-x-0 duration-(--slow);

      .stack-view-group[data-dragging] &:not(:first-child) {
         --peek: calc(100% * (1 - var(--stack-view-group-pull-progress)));
         @apply translate-x-(--peek) duration-0;
      }
   }

   /* Select open views under the top view. */
   &[data-open]:not(:nth-last-child(1 of [data-open])) {
      /* Select the last open view. */
      &:nth-last-child(2 of [data-open]) {
         @apply translate-x-[-20%] opacity-75 duration-(--slower);

         .stack-view-group[data-dragging] & {
            --peek: calc(-20% * var(--stack-view-group-pull-progress));
            --opacity: calc(1 - var(--stack-view-group-pull-progress) + 0.5);
            @apply translate-x-(--peek) duration-0 opacity-(--opacity);
         }
      }

      @apply pointer-events-none opacity-0 duration-0;
   }

   @apply grid [&>*]:[grid-area:1/1] [grid-area:1/1] h-full w-full sticky left-0 top-0;
   @apply bg-(--canvas-background);
   @apply transition-[translate,opacity] ease-in-out;
}

@utility stack-view-group-view-pull-handle {
   display: none;

   .stack-view-group-view:nth-last-child(1 of [data-open]) > & {
      @apply block w-[10%] touch-none overscroll-none;
   }
}
