@theme {
   --animate-toast-leave: toast-leave var(--slow) ease;
   --animate-toast-slide-in: toast-slide-in var(--slow) ease;
}

@utility toasts-group {
   @apply fixed left-0 top-0 empty:hidden pointer-events-none;
   @apply w-screen h-screen grid grid-rows-[auto_1fr] pt-1;
}

@utility toast-container {
   /* Constrains the toast downward animation to a maximum of 2 toasts. */
   --inverse: calc(var(--toasts-count) - var(--toast-index));
   --clamped-inverse: min(var(--inverse), 2);
   --translate-y: calc((var(--clamped-inverse) - 1) * (100% + var(--toast-gap)));

   &:first-child:not(.animate-toast-leave) {
      animation-duration: var(--default-speed);
   }

   /* Selects any older toasts to shrink. */
   &:nth-last-child(n + 3) {
      --translate-y-shrunk: calc(
         var(--translate-y) +
         min((var(--inverse) * 2px), 20px)
      );
      @apply translate-y-(--translate-y-shrunk);
   }

   @apply [grid-area:1/1] self-end grid grid-cols-[50dvw_100%_50dvw] gap-[100%];
   @apply z-50;
   @apply w-full;
   @apply translate-y-(--translate-y) duration-(--slow) ease-in-out transition-[translate,scale,opacity];
   @apply animate-toast-slide-in;

   @apply overflow-hidden;
   @apply pointer-coarse:overflow-x-scroll pointer-coarse:snap-x pointer-coarse:snap-mandatory no-scrollbar pointer-events-auto;
}

@utility toast-dismiss-marker {
   @apply h-full w-full snap-start;
}

@utility toast {
   @apply relative grid grid-cols-[1fr_auto] grid-rows-1 gap-0.5 justify-self-center;
   @apply w-[calc(100dvw-(var(--spacing)*2))] max-w-20 min-h-2;
   @apply p-0.5 mx-auto snap-center scroll-m-1 snap-always;
   @apply bg-(--canvas-background) text-(--canvas-text) border-2 rounded-xl;
}

@keyframes toast-slide-in {
   from {
      opacity: 0.5;
      transform: translateY(-100%);
   }
}

@keyframes toast-leave {
   to {
      opacity: 0;
   }
}
