body:has(.contextMenu) {
   overflow: hidden;
}

.contextMenu {
   display: grid;
   grid-template-rows: repeat(var(--context-menu-item-count), auto);
   position: relative;
   border-radius: 8px;
   min-width: 205px;
   @media only screen and (pointer: coarse) and (max-width: 768px) {
      min-width: min(80dvw, 225px);
      border-radius: 13px;
   }
   -webkit-backdrop-filter: blur(8px);
   backdrop-filter: blur(8px);
   border: 0.25px solid var(--color-zinc-500);
   box-shadow: 0 1px 10px 0px var(--color-canvas-shadow);
   overflow: hidden;
   animation: open-context-menu var(--speed-slow);

   &:is(.contextMenu) {
      /* increasing the specificity overrides whatever is set externally. */
      background-color: unset;
   }

   &:has(> .item > .checkItem > .checkItemInput:checked) {
      /* styles other items to have space for the checkmark if any item is checked. */
      .item:not(:has(> .checkItem > .checkItemInput:checked), :has(> .separator)) {
         padding-left: calc((var(--spacing) * 0.25) + 0.75rem + 0.25rem); /* initial left space + space for icon + .itemContent gap */
      }
   }

   &::before {
      top: 0;
      left: 0;
      display: block;
      opacity: 0.5;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      grid-area: 1 / 1 / calc(var(--context-menu-item-count) + 1) / 1;
      border-radius: 8px;
      background-color: var(--color-canvas-deep);
   }
}

@keyframes open-context-menu {
   from {
      opacity: 0;
      scale: 0.75;
   }

   60% {
      scale: 1.03;
   }
}

.anchor {
   position: fixed;
   display: block;
   width: 2px;
   height: 2px;
}

.item {
   position: relative;
   display: grid;
   place-items: center;
   min-height: 2rem;
   margin-inline: 8px;
   grid-area: calc(var(--context-menu-item-index) + 1) / 1;
   @media (pointer: coarse) {
      font-size: var(--text-base);
      min-height: 2.6rem;
   }
   font-size: var(--text-sm);

   &:first-child {
      margin-top: 8px;
   }

   &:last-child {
      margin-bottom: 8px;
   }

   &:has(> .contextMenuActionBtn:disabled) {
      pointer-events: none;
   }

   &[data-selected]::before {
      display: block;
      content: "";
      position: absolute;
      opacity: 0.1;
      background-color: var(--color-canvas-text);
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-radius: 8px;
   }
}

.itemContent {
   display: grid;
   gap: 0.25rem;
   min-width: 100%;
   place-items: start;
   justify-content: start;
   align-items: center;
   border-radius: 0px;
   padding-inline: calc(var(--spacing) * 0.25);
   padding-block: calc(var(--spacing) * 0.15);

   &:has(.caretContainer) {
      grid-template-columns: 1fr auto;
   }

   &:has(.iconContainer) {
      grid-template-columns: auto 1fr;

      &:has(.caretContainer) {
         grid-template-columns: auto 1fr auto;
      }
   }

   &:focus-visible,
   & :focus-visible {
      outline: none;
   }
}

.contextMenuActionBtn {
   background-color: unset;
   color: inherit;
   border: 0;

   &:disabled {
      visibility: visible;
      opacity: 0.3;
   }
}

.iconContainer {
   display: grid;
   place-content: center;
   height: 1.3rem;
   width: 1.3rem;
}

.icon {
   height: 1.25rem;
   width: 1.25rem;
}

.checkItem {
   min-height: unset;

   &:has(.checkItemInput:checked) {
      grid-template-columns: auto 1fr;

      &:has(.iconContainer) {
         grid-template-columns: auto auto 1fr;
      }
   }

   &::before,
   &::after {
      display: none;
   }
}

.checkItemInput {
   all: revert;
   appearance: none;
   position: absolute;
}

.check {
   align-self: center;
   justify-self: center;
   height: 0.75rem;
   width: 0.75rem;
   scale: 1.4;

   path {
      stroke-width: 3px;
   }
}

.separator {
   display: block;
   content: "";
   height: 1px;
   width: 100%;
   background-color: var(--color-canvas-text);
   opacity: 0.3;
   margin-block: 7.5px;

   .item:has(> &) {
      padding: 0;
      min-height: fit-content;

      &[data-selected]::before {
         display: none;
      }
   }
}

.caret {
   width: 0.85rem;
   height: 0.85rem;
   align-self: center;
   rotate: -90deg;

   path {
      stroke-width: 3px;
   }
}

.submenu {
   margin-left: -3px;
}
