.container {
   display: grid;
}

.select {
   all: unset;
   min-width: min(60dvw, 450px);
   padding-block: calc(var(--spacing) * 0.5);
   appearance: none;
   grid-area: 1 / 1;
   border-bottom: 2px solid;
}

.caret {
   grid-area: 1 / 1;
   margin-right: 3%;
   width: 20px;
   height: 20px;
   justify-self: end;
   align-self: center;
   transition: rotate var(--speed-default);
}

.caretOpen {
   rotate: 180%;
}

.popover {
   width: var(--popover-anchor-width);
}

.option {
   display: grid;
   grid-template-columns: 30px 1fr;
   padding-block: calc(var(--spacing) * 0.25);
}

.label {
   grid-area: 1 / 2;
}

.checkmark {
   height: 20px;
   width: 20px;
}

.options {
   max-height: min(400px, 45dvh);
   overflow-y: auto;
   animation: open-dropdown var(--speed-default);
   margin-block: 10px;
   transform-origin: top center;
   overscroll-behavior: initial;
}

@keyframes open-dropdown {
   0% {
      translate: 0 -10px;
      opacity: 0.5;
   }
}
