.fitText {
   display: grid;
   container-name: fit-text;
   container-type: inline-size;
   place-items: center;

   & > .content {
      font-size: calc(
         min(
            (100cqw / var(--fit-text-char-count)) *
            var(--fit-text-scaling-factor),
            var(--fit-text-max-font-size)
         )
      );
   }
}
