.floatingActionButton {
   position: absolute;
   z-index: var(--floating-button-layer);
   display: grid;
   width: var(--fab-size);
   min-width: unset;
   height: var(--fab-size);
   padding: 0;
   border: 2px solid var(--color-canvas);
   border-radius: 50%;
   color: var(--color-canvas-background);
   background-color: var(--color-canvas-text);
   transition: translate var(--speed-default), scale var(--speed-slow), opacity var(--speed-slow),
      rotate var(--speed-slower) var(--timing-bounce-slower);
   place-items: center;

   &[data-fixed] {
      position: fixed;
   }

   &:active {
      scale: 1;
   }

   &:disabled {
      /* Overrides the default disabled state of buttons. */
      visibility: unset;
   }

   &.block.top {
      top: calc(var(--spacing) * 3);
      bottom: unset;
   }

   &.block.bottom {
      top: unset;
      bottom: calc(var(--spacing) * 3);
   }

   &.block.center:not(.top, .bottom) {
      top: calc(50% - calc(var(--fab-size) / 2));
      bottom: unset;
   }

   &.inline.right {
      right: calc(var(--spacing) * 2);
      left: unset;
   }

   &.inline.left {
      right: unset;
      left: calc(var(--spacing) * 2);
   }

   &.inline.center:not(.left, .right) {
      right: calc(50% - calc(var(--fab-size) / 2));
      left: unset;
   }

   & > svg {
      width: calc(var(--spacing) * 1.75);
      height: calc(var(--spacing) * 1.75);
   }

   &[data-outlined] {
      border: 3px solid var(--canvas-text);
      background-color: transparent;
   }
}
