@use '@/styles/typography.scss' as typography;
@use '@/styles/backgrounds.scss' as backgrounds;

#ComingSoonPage {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  text-align: center;
  place-items: center;
  place-content: center;
  gap: var(--Spacing);
  @include backgrounds.Grid;

  @media (orientation: landscape) {
    align-items: center;
    text-align: left;
    place-items: start;
    grid-template-rows: 1fr auto auto auto 1fr;
    grid-template-columns: min(500px, 40dvw) 1fr;
    column-gap: var(--SpacingDouble);
  }

  h1 {
    overflow: hidden;
    max-width: 70dvw;
    @include typography.TitleText;
    @media (orientation: landscape) {
      align-self: end;
      grid-area: 2 / 1;
    }
    @media (orientation: landscape) {
      @include typography.BoldNumberText;
    }
    @media (max-height: 600px) {
      @include typography.BiggerText;
    }
  }

  .HeadingText {
    display: inline-block;
    animation: FadeInFromBottom var(--AnimationDuration)
      var(--AnimationDurationFaster) backwards;
  }

  section {
    display: grid;
    overflow: hidden;
    max-width: 70dvw;
    gap: var(--SpacingHalf);

    @media (orientation: landscape) {
      grid-area: 3 / 1;
    }
  }

  p {
    animation: FadeInFromBottom var(--AnimationDuration)
      var(--AnimationDurationFast) backwards;
  }

  p:nth-child(2) {
    @media (orientation: portrait) {
      display: none;
    }

    @media (max-height: 600px) {
      display: none;
    }
  }

  form {
    display: grid;
    width: 100%;
    gap: var(--SpacingHalf);
    place-items: center;

    @media (orientation: landscape) {
      align-self: start;
      grid-area: 4 / 1;
      place-items: start;
    }
  }

  .EmailInput {
    width: 70dvw;

    @media (orientation: landscape) {
      width: 100%;
    }
  }

  img {
    display: none;

    @media (orientation: landscape) {
      display: block;
      align-self: center;
      max-width: 100%;
      grid-area: 1 / 2 / 6 / 2;
      justify-self: center;
    }
  }

  .SubmitButton {
    animation: FadeInFromBottom var(--AnimationDuration)
      var(--AnimationDuration) backwards;
  }
}
